* {
    font-family: Arial, Helvetica, sans-serif;
}
/* css login */
form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #5867bc;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 40%;
    width: 50%;
    position: fixed;
}

.form .input-span {
    width: 110%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    /* height: 50px; */
}

form input[type="email"],
form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 90%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 3px solid var(--bg-dark);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

form .submit {
    padding: 1rem 0.75rem;
    width: 60%;
    /* display: flex; */
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}

.y {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(255, 255, 255);
}
.srr {
    display: flex;
    justify-content: end;
    margin-bottom: -83px;
    width: -35px;
    z-index: auto;
}
.rrr {
    display: flex;
    justify-content: end;
    margin-bottom: -80px;
    width: -30px;
    z-index: auto;
}

/* 2ggc */
